.button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    padding: 9px 22px;
    gap: 10px;
    background: #1E0606;
    color: #FFFFFF;
}