
 .header {
    display: flex;
    margin-top: 50px;
    margin-left: 110px;
    &__icon {
        animation: logo;
        :hover {
            opacity: 0.5;
        }
    }
    &__list {
        display: flex;
        margin-right: auto;
        column-gap: 20px;
        color: #1E0606;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        animation: logo 3s;
        &:hover {
            opacity: 0.5;
        }
        &-link {
            color: #1E0606;
        }
        &-item--contact {
            font-family: 'Open Sans';
            font-style: normal;
            line-height: 19px;
            font-weight: 700;
            font-size: 14px;
            color: #1E0606;
            margin-left: 500px;
            animation: logo 3s;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}