.blog {
    @media screen and (max-width: 768px) {
        overflow: hidden;
    }
    &__nav-title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        text-transform: uppercase;
        color: #1E0606;
    }
    &__home {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #1E0606;
    }
    &__title {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #1E0606;
        opacity: 0.5;
    }
    &__nav-img {
        width: 8px;
        height: 12px;
        margin-top: -29px;
    }
   
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 1400px;
        column-gap: 20px;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            width: 768px;
            
        }
        @media screen and (max-width: 375px) {
            flex-direction: column;
            display: flex;
            flex-wrap: nowrap;
           
        }
        &-date {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #818181;
            mix-blend-mode: normal;
        }
        &-articles {
            width:380px;
            height:125px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #1E0606;
            @media screen and (max-width: 768px) {
                width: 314px;
            }
            @media screen and (max-width: 375px) {
                width: 335px;
                font-size: 16px;
            }
        }
        &-header {
            width: 380px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            color: #1E0606;
            margin-top: -7px;
            :hover {
                text-decoration-line: underline;
            }
            :active {
                text-decoration-line: underline;
            }
            @media screen and (max-width: 768px) {
                width: 314px;
            }
            @media screen and (max-width: 375px) {
                width: 335px;
                font-size: 18px;
            }
        }
    }
}

.home__list {
    display: flex;
    column-gap: 20px;
}




