.form {
    width: 680px;
    height: 542px;
    align-items: center;
    background: #E5EAF8;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
        width: 648px;
        height: 542px;
    }
    @media screen and (max-width: 375px) {
        display: flex;
        flex-direction: column;
        width: 335px;
        height: 555px;
    }
}
    
    .form__inner {
        display: flex;
    }
    
    .form__wrapper {
        display: flex;
        @media screen and (max-width: 375px) {
            flex-direction: column;
        }
    }

       .contact__main {
        @media screen and (max-width: 375px) {
            overflow: hidden;
        }
       }
    .contact {
        display: flex;
        column-gap: 120px;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
        }


    &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 55px;
    }
 
    &__list {
        display: flex;
        column-gap: 20px;
        margin-top: -30px;
    }

    &__home {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #1E0606;
    }

    &__nav-img {
        width: 8px;
        height: 12px;
        margin-top: 29px;  
    }

    &__nav-title {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        text-transform: capitalize;
        color: #1E0606;
        opacity: 0.5;
    }
}
    .form__input-name {
        height: 49px;
        width: 597px;
        margin-top: 66px;
        margin-left: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        @media screen and (max-width: 768px) {
            width: 536px;
            height: 50px;
        }
        @media screen and (max-width: 375px) {
            width: 285px;
            height: 40px;
            margin-left: auto;
        }
    }
    
    .placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    }
    
    .form__label-name {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-top: 38px;
    margin-left: 35px;
    @media screen and (max-width: 375px) {
        margin-left: auto;
    }
    }
    
    .form__input-phone {
    height: 48px;
    width: 287px;
    margin-top: 44px;
    margin-left: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 768px) {
        width: 258px;
        height: 50px;
    }
    @media screen and (max-width: 375px) {
        width: 285px;
        height: 40px;
        margin-left: 1px;
    }
}
    
    .form__label-phone {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #1E0606;
        position: absolute;
        margin-top: 15px;
        margin-left: 38px;
        @media screen and (max-width: 375px) {
            margin-left: auto;
        }
    }
    
    .form__label-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    position: absolute;
    color: #1E0606;
    margin-top: 17px;
    margin-left: 20px;
    @media screen and (max-width: 375px) {
        margin-left: auto;
    }
    }
    
    .form__input-email {
    height: 48px;
    width: 290px;
    margin-top: 44px;
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 768px) {
        width: 258px;
        height: 50px;
    }
    @media screen and (max-width: 375px) {
        width: 285px;
        height: 40px;
        margin-left: 1px;
    }
    }
    
    .form__label-message {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    position: absolute;
    color: #1E0606;
    margin-left: 38px;
    margin-top: 20px;
    @media screen and (max-width: 375px) {
        margin-left: auto;
    }
    }
    
    .form__input-message { 
    height: 150px;
    width: 602px;
    margin-top: 44px;
    margin-left: 36px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 768px) {
        width: 536px;
        height: 150px;
    }
    @media screen and (max-width: 375px) {
        width: 285px;
        height: 150px;
        margin-left: auto;
    }
    }
    
    .contact__button {
    padding: 9px 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 106px;
    height: 40px;
    background: #000000;
    color: #E5EAF8;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: 40px;
    }
    
   
    .popup {
        position: absolute;
        left: 250px;
        top: -190px;
        display: none;
    }
    
    .open {
        display: flex;
    }
    
    .contact__text {
       align-items: center;
       display: flex;
       flex-direction: column;
       margin-top: 10px;
       @media screen and (max-width: 768px) {
        display: flex;
        text-align: center;
        width: 536px;
       }
       @media screen and (max-width: 375px) {
        max-width: 335px;
        text-align: center;
       }
    }

    .contact__paragraph {
        width: 380px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;    
        color: #1E0606;
        @media screen and (max-width: 768px) {
            width: 536px;
        }
        @media screen and (max-width: 375px) {
            max-width: 335px;
        }
    }

    .contact__notice {
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: #C29974;
        height: 68px;
        width: 380px;
    }
    
    .form__checkbox {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    .contact__checkbox {
        display: none;
    }
    .label__checkbox {
        display: block;
        width: 19px;
        height: 19px;
        border-radius: 3px;
        border: 2px solid #C29974;
        position: relative;
    }

    .custom__checkbox:before {
        content: "";
        cursor: pointer;
        position: absolute;
        display: inline-block;
        width: 17px;
        height: 17px;
        top: 50%;
        left: 50%;
        background: url("../img/checkbox__vector.png");
         transform: translate(-50%,-50%) scale(0);
    }

    .contact__checkbox:checked + .custom__checkbox::before {
         transform: translate(-50%,-50%) scale(1);
    }
      
      
      
    