.popup {
    position: absolute;
    left: 250px;
    top: -190px;
    display: none;
}

.open {
    display: flex;
}

.contact__paragraph {
    height: 66px;
    width: 380px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;    
    color: #1E0606;
    margin-top: ;
    margin-left: ;
    column-rule: 20px;
}