@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";
/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/title";
@import "_blocks/footer";
@import "_blocks/link";
@import "_blocks/header";
@import "_blocks/button";
@import"contact";
@import"blog";
@import"catalog";
@import"_blocks/nav";
@import"animation";
@import"toys";


/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/
.banner {
  background: #EEE4DB;
  height: 411px;
  margin-top: -100px;
  margin-left: 110px;
  &__title {
    margin-top:-100px ;
  }
  &__text {
    font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #1E0606;
  width: 307px;
  height: 88px;
  margin-top: 215px;
  margin-left: -12px;
  }
  &__btn {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  padding: 9px 22px;
  gap: 10px;
  background: #1E0606;
  color: #FFFFFF;
  margin-top: 155px;
  margin-left: -10px;
  }
  &__img {
    position: absolute;
    margin-left: 295px;
    margin-top: -203px;
  }
  &__country {
    font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
  }
  &__cost{
    width: 1180px;
    height: 39px;
    background: #C29974;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 127px;
    margin-left: -150px;
    position: absolute;
  } 
}

.category{
  display: flex;
  &__title {
    margin-left: 110px;
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: -288px;
    :hover {
      text-decoration-line: underline;
      color: #FFFFFF;
  }
  :active {
      text-decoration-line: underline;
  }
  }
  &__list-one{
    background: url(image.png);
    background-blend-mode: multiply;
    width: 280px;
    height: 270px;
    background: #DBE4DB;
    padding: 46px 18px 46px 18px;
  }
  &__list-title-one {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    height: 64px;
    width: 129px;
    margin-top:-125px ;
    color: #FFFFFF;
    margin-left: 53px;
  }
  &__list-two {
    background: url(image.png);
    background-blend-mode: multiply;
    background: #EADDD3;
    width: 280px;
    height: 270px;
    padding: 13px 36px 13px 36px;
  }
  &__list-title-two{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-top: -143px;
    color: #FFFFFF;
  }
  &__list-three {
    background: url(image.png);
    background-blend-mode: multiply;
    width: 280px;
    height: 270px;
    background: #F8F2DA;
    padding: 0px 5px 0px 5px;
  }
  &__list-title-three {
    text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-top: -157px;
  color: #FFFFFF;
  } 
  &__list-four {
  background: url(image.png);
  background-blend-mode: multiply;
  background: #D5D4E1;
  width: 280px;
  height: 270px;
  padding: 10px 20px 10px 20px;
  }
  &__list-title-four {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-top: -148px;
    color: #FFFFFF;
    margin-left: -13px;
  }
}  

.switch__category {
  display: flex;
  column-gap: 6px;
  margin-left: 76px;
}
.switch__category-item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  height: 44px;
  width: 580px;
  margin-left: 16px;
  margin-top: 12px;
}

.switch__button{
  height: 37px;
  width: 37px;
  display:flex ;
  margin-top:15px ;
  background: rgba(112, 187, 220, 0.2);
}

.switch__active{
  background:rgba(30, 6, 6, 0.6);
  width: 31px;
  height: 3px;
  margin-left: 32px;
  display: flex;
}

.switch__number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  margin-left: 33px;
}

.switch__rectangel-one {
  width: 31px;
  height: 3px;
  background: #D6CAC2;
  margin-left: 32px;
  list-style-type: none;
}

.switch__rectangel-two {
  width: 31px;
  height: 3px;
  background: #D6CAC2;
  margin-left:32px ;
  list-style-type: none;
}
  
.switch__rectangel-three {
  width: 31px;
  height: 3px;
  background: #D6CAC2;
  margin-left: 32px;
  list-style-type: none;
}
     
.delivery {
  &__baner {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
  }
  &__link {
    height: 35px;
    width: 84px;
    background: rgba(112, 187, 220, 0.2);
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-left: 542px;
    padding: 11px 180px 11px 60px;
    &-item {
      color: #1E0606;
    }
  }
  &__guarantee {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-top:9px ;
    margin-left:602px ;
  }
  &__credit {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    margin-left:602px ;
    color: #1E0606;
  }
  &__paragraph-one {
  display: flex;
  text-align: left;
  width: 480px;
  height: 66px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left: 645px;
  }
  &__paragraph-two {
    width: 480px;
    height: 88px;
    margin-left: 640px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }
  &__button {
    display: flex;
    flex-direction: row;
    padding: 9px 22px;
    gap: 10px;
    width: 149px;
    height: 40px;
    background: #000000;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal; 
    margin-left:640px ;
  }
}

.companies {
  display: flex;
  column-gap: 127px;
}

.design {
  display: flex;
  column-gap: 57px;
}

.about {
  margin-left:43px ;
  width: 543px;
  height: 228px;
  background: #E1F0F7;
  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: -25px;
    margin-left: 35px;
  }
  &__paragrath {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-left: 33px;
  }
  &__button {
    padding: 9px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 123px;
    height: 40px;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    margin-left: 30px;
  }
  &__text {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-left: 30px;
  }
}

.contacts {
  background: #E1F0F7;
  width: 485px;
  height: 106px;
  padding: 0 30px 102px 30px;
  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
  }
  &__paragraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    height: 66px;
    width: 483px;
  }
}

.maps {
  width: 483px;
  height: 196px;
  background: url(.png);
}