<footer class="footer container">
  <div class="footer__navigation-list">
    <p class="navigation__title">Navigation</p>
    <div class="navigation__line"></div>
    <ul class="footer__navigator-list--link">
      <a class="footer__navigator-link" href="#">About Us</a><a class="footer__navigator-link" href="#">Blog</a><a class="footer__navigator-link" href="#">Design Services</a><a class="footer__navigator-link" href="#">Featured On</a><a class="footer__navigator-link" href="#">2018 Holiday Catalog</a><a class="footer__navigator-link" href="#">Shop By Designer</a>
    </ul>
  </div>
  <div class="navigator__list-rate"><p class="navigator__rating">Company Rating</p><img class="rating__img" src="../img/Star.png" class="rating__img" alt="#"><img class="rating__img" src="../img/Star.png" alt="#"><img class="rating__img" src="../img/Star.png" alt="#"><img class="rating__img" src="../img/Star.png" alt="#"><img class="rating__img" src="../img/Star.png" alt="#"></div>
  </div>
  <div class="footer__customer-list">
    <p class="customer__title">Customer Information</p>
    <div class="customer__line"></div>
    <ul class="footer__customer-list--link">
      <a class="footer__customer-link" href="#">Contact Us</a><a class="footer__customer-link" href="#">Sale Exclusions</a><a class="footer__customer-link" href="#">Shipping & Returns</a><a class="footer__customer-link" href="#">Terms & Conditions</a><a class="footer__customer-link" href="#">Privacy Policy</a><a class="footer__customer-link" href="#">Search</a>
    </ul>
  </div>
  <div><p class="customer__rating">Copyright © 2018 Dlk • Design Life Kids</p></div>
  <div class="footer__connect-list">
    <p class="footer__connect-title">Connect</p>
    <div class="connect__line"></div>
    @@include('blocks/button.html',{
      'button': "Join",
      'class' : "footer__button" 
    })
    <label class="footer__label-email">
      <input class="footer__input-email" type="email" placeholder="Email">
    </label> 
    <div class="footer__icon">
      <img class="footer__icon-item" src="../img/facebook.png" alt="#">
      <img class="footer__icon-item" src="../img/twitter.png" alt="#">
      <img class="footer__icon-item" src="../img/pinterest.png" alt="#">
      <img class="footer__icon-item" src="../img/instagram.png" alt="#">
    </div>
      <p class="conect__rating">Web Design — Direct Line Development</p>
    </div>
      <div class="end__line"></div>
</footer>