<header class="header container">
    <a class="header__icon" href="./index.html">
        <img class="header__icon" srcset="../img/dlk.png" alt="#">
    </a> 
    <div class="header__list-tablet header__list-mobile">
        <picture>
            <source media="(max-width: 375px)" srcset="./img/header__icon-mobile.png">
            <a class="header__icon-tablet" href="./index.html"><img class="header__icon-tablet" srcset="./img/header__icon-tablet.png" alt="#"></a>
        </picture>
        <button type="button" aria-label="Open modal window" class="btn-hid">menu</button>
        <img class="search__item-tablet" src="./img/search.png" alt="#">
    </div>
        <ul class="header__list">
            <li class="header__list-item"><a class="header__list-link" href="./catalog.html">CATALOG</a></li>
            <li class="header__list-item"><a class="header__list-link" href="./toys.html">ABOUT US</a></li>
            <li class="header__list-item"><a class="header__list-link" href="./blog.html">BLOG</a></li>
            <li class="header__list-item"><a class="header__list-link" href="./animation.html">ANIMATION</a></li>
            <li class="header__list-item"><a class="header__list-link" href="./svg.html">SVG</a></li>
            <li class="header__list-item"><a class="header__list-link" href="./grid.html">GRID</a></li>
            <img class="search__item" src="../img/search.png" alt="#"><a class="header__list-link--item" href="./contact.html">CONTACT US</a>
        </ul>
    <div class="menu__modal">
        <ul class="menu ">
            <button class="close__menu"></button>
            <li class="menu__list-item"><a class="menu__list-link" href="./catalog.html">Catalog</a></li>
            <li class="menu__list-item"><a class="menu__list-link" href="./toys.html">About US</a></li>
            <li class="menu__list-item"><a class="menu__list-link" href="./blog.html">Blog</a></li>
            <li class="menu__list-item"><a class="menu__list-link" href="./animation.html">Animation</a></li>
            <li class="menu__list-item"><a class="menu__list-link" href="./svg.html">SVG</a></li>
            <li class="menu__list-item"><a class="menu__list-link" href="./grid.html">Grid</a></li>
            <li class="menu__list-item"><a class="menu__list-link--item" href="./contact.html">CONTACT US</a></li>
        </ul>
    </div>
</header>