<header class="header contiener">
    <img class="img_icon" src="./img/DLK.svg" alt="">
    <ul class="header__list">
        <li class="header__list-item"><a class="header__list-link" href="#">BLOG</a></li>
        <li class="header__list-item"><a class="header__list-link" href="#">CATALOG</a></li>
        <li class="header__list-item"><a class="header__list-link" href="#">ABOUT US</a></li>
    </ul>
    <img class="search-icon" src="search_icon.png" alt="">
    <ul>
        <li class="header__list-item-contact"><a class="header__list-link" href="#">CONTACT US</a></li>
    </ul>
</header>