<header class="header contaiener">
     <a class="header__icon" href="./index.html"><img class="header__icon" src="./img/dlk.png" alt="#"></a>
    <ul class="header__list">
        <li class="header__list-item"><a class="header__list-link" href="./catalog.html">CATALOG</a></li>
        <li class="header__list-item"><a class="header__list-link" href="./toys.html">ABOUT US</a></li>
        <li class="header__list-item"><a class="header__list-link" href="./blog.html">BLOG</a></li>
        <li class="header__list-item"><a class="header__list-link" href="./animation.html">ANIMATION</a></li>
        <li class="header__list-item"><a class="header__list-link" href="#">SVG</a></li>
        <li class="header__list-item"><a class="header__list-link" href="./grid.html">GRID</a></li>
        <li class="header__list-item--contact"><img class="search__item" src="./img/search.png" alt="#"><a class="header__list-link" href="./contact.html">CONTACT US</a></li>
    </ul>
</header>