<section class="pages container">
    <div class="pages__list">
        <button class="vector__left-page"><img class="vector__left-page" src="../img/vectore-left.png" alt="left"></button>
        <div class="page__numbers">
            <button class="page__active page" >1</button>
            <button class="page" >2</button>
            <button class="page" >3</button>
            <button class="page" >4</button>
        </div>
        <button class="vector__right-page"><img class="vector__right-page" src="../img/vector-right.png" alt="right"></button>
    </div>
</section>