.form {
width: 680px;
margin: auto;
align-items: center;
background: #E5EAF8;
position: absolute;
height: 542px;
left: 110px;
top: 301px;
}

.form__inner {
    display: flex;
}

.form__wrapper {
    display: flex;
}

.title {
position: absolute;
width: 282px;
height: 49px;
left: 110px;
top: 135px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-transform: uppercase;
color: #1E0606;
}
.form__input-name {
    height: 45px;
    width: 594px;
    margin-top: 64px;
    margin-left: 40px;
}

.placeholder {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #1E0606;
}

.form__label-name {
    position: absolute;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #1E0606;
margin-top: 38px;
margin-left: 35px;
}

.form__input-phone {
height: 45px;
width: 280px;
margin-top: 38px;
margin-left: 40px;

}

.form__label-phone {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    position: absolute;
    margin-top: 15px;
    margin-left: 38px;
}

.form__label-email {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
position: absolute;
color: #1E0606;
margin-top: 17px;
margin-left: 20px;
}

.form__input-email {
    height: 45px;
width: 280px;
margin-top: 38px;
margin-left: 20px;

}

.form__label-message {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
position: absolute;
color: #1E0606;
margin-left: 38px;
margin-top: 20px;
}

.form__input-message { 
height: 145px;
width: 592px;
margin-top: 44px;
margin-left: 36px;
}

.button__contact {
    padding: 9px 22px;
    display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
position: absolute;
width: 106px;
height: 40px;
background: #000000;
color: #E5EAF8;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
margin-top: 7px;
margin-left: 39px;
}

.paragraph__checkbox {
    margin-top: -13px;
    margin-left: 32px;
    position: absolute;
}

.popup {
    position: absolute;
    left: 250px;
    top: -190px;
    display: none;
}

.open {
    display: flex;
}

.contact__paragraph {
    height: 66px;
    width: 380px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;    
    color: #1E0606;
    margin-top: ;
    margin-left: ;
    column-rule: 20px;
}